<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzWidth]="width"
    [nzReverseArrow]="isReverseArrow"
  >
  <img id="logo-img" src="assets/image/app_icon.png" alt="logo" />
    <div class="logo">
      <p>Fiyaka</p>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item nzMatchRouter routerLink="/dashboard">
        <i nz-icon nzType="dashboard"></i>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/houses">
        <i nz-icon nzType="home"></i>
        <span>Houses</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/tenants">
        <i nz-icon nzType="team"></i>
        <span>Tenants</span>
      </li>

      <li nz-submenu nzTitle="Profile" nzIcon="user">
        <ul>
          <li nz-menu-item *ngIf="username != null && username.length > 0">
            Logged in as {{ username }}
          </li>

          <li nz-menu-item nzMatchRouter nzIcon="authIcon">
            <a [routerLink]="authLink">{{ authLabel }}</a>
          </li>
        </ul>
      </li>

      <!-- <li nz-submenu nzTitle="About" nzIcon="info-circle">
          <ul>
            <li nz-menu-item nzIcon="authIcon">
              App version: {{ version }}    
            </li>
          </ul>
        </li> -->
    </ul>
  </nz-sider>
  <nz-layout style="height: 100vh">
    <!-- <nz-header style="background: #fff; padding: 0"></nz-header> -->
    <nz-content style="margin: 0 16px">
      <nz-breadcrumb style="margin: 16px 0">
        <!-- <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item> -->
      </nz-breadcrumb>
      <div style="padding: 24px; background: #fff; min-height: 90%">
        <router-outlet></router-outlet>
      </div>
      <app-loading></app-loading>
      <nz-footer style="text-align: center;">Fiyaka ©2020 Developed with ❤️ by Fiyaka Team </nz-footer>
    </nz-content>
  </nz-layout>
</nz-layout>
