:host ::ng-deep .logo {
  /* height: 32px; */
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.logo p {
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
  /* font-size: 18px; */
}

#logo-img {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}