<div *ngIf="createPlaceholder">
  <nz-card style="width: 300px" [nzActions]="[actionEdit]">
    <nz-card-meta
      nzTitle="Create House"
      nzDescription="You can create a new house and later on, assign your tenant to your house."
    ></nz-card-meta>
  </nz-card>
  <ng-template #actionEdit>
    <i
      nz-icon
      nzType="user-add"
      nzTheme="outline"
      (click)="onCreateClick()"
    ></i>
  </ng-template>
</div>

<div *ngIf="!createPlaceholder">
  <nz-card
    style="width: 300px"
    [nzCover]="coverTemplate"
    [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
  >
    <nz-card-meta
      [nzTitle]="house.name"
      [nzDescription]="getDescription()"
      [nzAvatar]="avatarTemplate"
    >
    </nz-card-meta>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
  </ng-template>
  <ng-template #coverTemplate>
    <img alt="example" src="https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=200&q=80" />
  </ng-template>
  <ng-template #actionSetting>
    <i nz-icon nzType="setting"></i>
  </ng-template>
  <ng-template #actionEdit>
    <i nz-icon nzType="edit" (click)="onUpdateClick()"></i>
  </ng-template>
  <ng-template #actionEllipsis>
    <a nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="ellipsis"></i>
    </a>
  </ng-template>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item nzDanger (click)="onDelete()">Delete</li>
  </ul>
</nz-dropdown-menu>
