<div *ngIf="createPlaceholder">
  <nz-card
    style="width: 300px"
    [nzActions]="[actionEdit]"
  >
    <nz-card-meta
      nzTitle="Create Tenant"
      nzDescription="You can create a new tenant account for your tenant."
    ></nz-card-meta>
  </nz-card>
  <ng-template #actionEdit>
    <i nz-icon nzType="user-add" nzTheme="outline" (click)="onCreateClick()"></i>
  </ng-template>
</div>

<div *ngIf="!createPlaceholder">
  <nz-card
    style="width: 300px"
    [nzCover]="coverTemplate"
    [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
  >
    <nz-card-meta
      [nzTitle]="tenant.name"
      [nzDescription]="getDescriptionBox()"
      [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar [nzSrc]="tenant.avatarImageUrl"></nz-avatar>
  </ng-template>
  <ng-template #coverTemplate>
    <img alt="example" [src]="tenant.bannerImageUrl" />
  </ng-template>
  <ng-template #actionSetting>
    <i nz-icon nzType="setting" (click)="onChatClick()"></i>
  </ng-template>
  <ng-template #actionEdit>
    <i nz-icon nzType="edit" (click)="onUpdateClick()"></i>
  </ng-template>
  <ng-template #actionEllipsis>
    <a nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="ellipsis" ></i>
    </a>
  </ng-template>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item (click)="onEmail()">Send Email</li>
    <li nz-menu-item nzDanger (click)="onDelete()">Delete</li>
  </ul>
</nz-dropdown-menu>

<nz-modal
  [(nzVisible)]="this.modalVisible"
  nzTitle="Create Tenant"
  (nzOnCancel)="hideModal()"
  [nzOkText]="null"
>
  <app-email-form #emailForm (doneSubmit)="hideModal()"></app-email-form>
</nz-modal>